.body_container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left_section {
  width: 50px;
  background-color: rgb(var(--top-header-secondary));
  color: rgb(var(--primary-text-color));
  border: 1px solid rgb(var(--border));
}

.right_section {
  width: 100%;
}

.icon {
  height: 28px;
  width: 28px;
  opacity: 0.6;
}

.active {
  opacity: 1;
}

.working_action {
  cursor: pointer;
}

.not_working_action {
  cursor: not-allowed;
}

.left_action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
