:root {
  html,
  body {
    background-color: #373737;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }

  /* background-color */
  --top-header-primary: 60, 60, 60;
  --top-header-secondary: 30, 30, 30;
  --ternary: 20, 20, 20;
  --quaternary: 40, 44, 52;
  --quinary: 32, 34, 34;
  --folder-color: 59, 208, 200;
  --file-color: 204, 162, 202;
  --background1: 255 255 255 / 10%;
  --background2: 31, 41, 55;
  --background3: 255, 255, 255, 0.08;

  /* text-color */
  --black: 0, 0, 0;
  --primary-text-color: 255, 255, 255; /* white*/
  --file-name-color: 225, 74, 16; /* orange */
  --purple: 167, 139, 250;
  --light-purple: 102, 87, 144;
  --light-color: 214, 188, 250;
  --vivid-color: 139, 92, 246;
  --light-grey: 157, 153, 153;
  --light-red: 239, 68, 68;
  --light-yellow: 234, 179, 8;
  --light-green: 34, 197, 94;
  --light-yellow-green: 0, 255, 0;
  --green-yellow: 15, 200, 15;
  --url-link: 15 160 200;
  --blue: 217.2 91.2% 59.8%;
  --comment: 215.4 16.3% 56.9%;

  /* shadow color */
  --layout-shadow: 255, 255, 255, 0.5;
  --shadow1: 0, 0, 0, 0.1;
  --shadow2: 0, 0, 0, 0.05;
  --shadow3: 0, 0, 0, 0.12;

  /* border-color */
  --border: 60, 60, 60;
  --border2: 55, 65, 81;
  --border3: 82, 83, 84;

  /* height */
  --header-height-primary: 26px;
  --header-height-secondary: 40px;

  /* font-size */
  --primary-font-size: 16px;
  --secondary-font-size: 12px;

  /* border-radius */
  --primary-radius: 10px;
  --secondary-radius: 8px;

  /* border hover */
  --b-h-color: 102, 102, 102;

  /* linear gradient */
  --color1: 17, 24, 39;
  --color2: 0, 0, 0;

  /* radial gradient */
  --radial-color1: 191, 123, 255, 0.2;
}
